/* scaffolding */
:root {
	font-family: sans-serif;
}

/* layout */

html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
}

header {
	display: flex;
	align-items: center;
	border-bottom: 1px solid #aaa;
}


body {
	display: flex;
	flex-direction: column;
}

#middle {
	flex-shrink: 0;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}

#input {
	flex-grow: 1;
}

#devices {
	border-top: 1px solid #aaa;
}

#output {
	display: flex;
	flex-direction: column;
}

#terminal-box {
	display: flex;
	flex-grow: 1;
}

@media screen and (min-width: 800px) {
	#middle {
		flex-direction: row;
	}
	#output {
		flex-grow: 1;
	}
	#devices {
		border-top: none;
		border-left: 1px solid #aaa;
	}
}

/* header */

header h1 {
	margin: 8px;
	font-size: 1.3rem;
}

header > *:not(h1) {
	margin: 4px 4px 4px 0;
}

/* textarea */

#input {
	font-family: monospace;
	font-size: 14px;
	-moz-tab-size: 4;
	tab-size: 4;
	border: none;
	padding: 7px;
	resize: none;
}

/* terminal */

#terminal {
	width: 100%;
	min-height: 10em;
	resize: none;
	border: 0;
	background: #111;
	color: white;
	font-family: monospace;
	font-size: 14px;
}
#terminal::selection {
	background: rgba(255, 255, 255, 0.3);
}
#terminal.error {
	color: #f55;
}

.device {
	padding: 8px;
	display: flex;
	line-height: 1;
}

.device > .device-name {
	padding-left: 8px;
}
