.led {
	width: 16px;
	height: 16px;
	border-radius: 9px;
	background: var(--color, black);
	border: 1px solid black;
	box-sizing: content-box;
	background-image: radial-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 1));
}

.display {
	border: 1px solid gray;
}

.ledstrip{
	line-height: 0;
	background: black;
	padding: 2px 3px;
	border-radius: 10px;
}

.ledstrip-led {
	display: inline-block;
	width: 16px;
	height: 16px;
	margin: 2px;
	border-radius: 8px;
	background: black;
}
