.simulator {
    --terminal-font-size: var(--vscode-editor-font-size, 13px);
    --terminal-line-height: calc(var(--terminal-font-size) + 5px);
}

/* Panels */

.simulator .panels {
    background: var(--vscode-panel-background);
    border-top: 1px solid var(--vscode-panel-border);
    display: flex;
    flex-direction: column;
}
.simulator.no-schematic .panels {
    flex-grow: 1;
    border-top: none;
}

/* Tab bar */

.simulator .tabbar {
    padding: 0 10px;
    display: flex;
    flex: 0 0;
}

.simulator .tabbar > .tab {
    padding: 4px 12px 3px;
    cursor: pointer;
}
.simulator .tabbar > .tab a {
    text-transform: uppercase;
    font-size: 11px;
    color: var(--vscode-panelTitle-inactiveForeground);
    line-height: 27px;
    outline: 0;
    text-decoration: none;
    border-bottom: 1px solid transparent;
}
.simulator .tabbar > .tab.active a {
    border-bottom-color: var(--vscode-panelTitle-activeBorder);
    color: var(--vscode-panelTitle-activeForeground);
    display: inline-block;
}
.simulator .tabbar > .tab:hover a {
    color: var(--vscode-panelTitle-activeForeground) !important;
}

.simulator .tabcontent {
    color: var(--vscode-terminal-foreground);
    min-height: calc((var(--vscode-editor-font-size) + 5px) * 10); /* 10 terminal lines */
    height:     calc((var(--vscode-editor-font-size) + 5px) * 10); /* 10 terminal lines */
}

.simulator .tabcontent:not(.active) {
    display: none !important;
}

.simulator.no-schematic .tab:not(.panel-tab-terminal) {
    display: none;
}

/* Terminal at the bottom of the screen */

.simulator .terminal-box {
    display: flex;
}

.simulator .terminal {
    outline: 0;
    color: var(--vscode-terminal-foreground);
}
.simulator .terminal::selection {
    background: var(--vscode-terminal-selectionBackground);
}
.simulator .terminal > .message.info {
    color: #888;
}
.simulator .terminal > .message.error {
    color: var(--vscode-terminal-ansiBrightRed);
}

/* Add parts tab */

.simulator .panel-add select {
    /* Not exactly the same as in VSCode but close enough */
    background-color: var(--vscode-settings-dropdownBackground);
    border: 1px solid var(--vscode-settings-dropdownBorder);
    color: var(--vscode-settings-dropdownForeground);
    padding: 2px 8px;
}

.simulator .panel-add button {
    display: inline-block;
    border: 0px;
    padding: 2px 14px;
    color: var(--vscode-button-foreground);
    background: var(--vscode-button-background);
    font-size: 13px;
}
.simulator .panel-add button:hover {
    background: var(--vscode-button-hoverBackground);
}

/* Templates should be hidden */
.simulator .templates {
    display: none;
}
